<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>당뇨병 예방 건강 진단</h2>
<form method="post" action="diabetes_result">
    나이 : <input type="text" name="age"><br>
    성별 : <select name="sex">
    <option value="male">남성</option>
    <option value="female">여성</option>
    </select><br>
    혈중 총 콜레스테롤 : <input type="text" name="chol"><br>
    콜레스테롤 검사 여부 : <select name="chol_check">
    <option value="yes">예</option>
    <option value="no">아니오</option>
    </select><br>
    BMI 지수 : <input type="text" name="BMI"><br>
    흡연 여부 : <select name="smoke">
    <option value="yes">예</option>
    <option value="no">아니오</option>
    </select><br>
    심장병이 있습니까? <select name="HDA">
    <option value="1">예</option>
    <option value="0">아니오</option>
    </select><br>
    운동 여부(월 1회 이상) : <select name="PA">
    <option value="yes">예</option>
    <option value="no">아니오</option>
    </select><br>
    과일을 섭취하십니까?(일 1회 이상) <select name="fruit">
    <option value="yes">예</option>
    <option value="no">아니오</option>
    </select><br>
    야채를 섭취하십니까?(일 1회 이상) <select name="veggies">
    <option value="yes">예</option>
    <option value="no">아니오</option>
    </select><br>
    음주를 매일 하십니까? <select name="HAC">
    <option value="yes">예</option>
    <option value="no">아니오</option>
    </select><br>
    자신의 건강상태를 표현해 주세요.<br>
    <select name="GH">
    <option value="1">훌륭함</option>
    <option value="2">매우 좋음</option>
    <option value="3">좋음</option>
    <option value="4">보통</option>
    <option value="5">미흡</option>
    </select><br>
    근 30일 간 심리적으로 며칠 아팠습니까?<br>
    <input type="text" name="MH"><br>
    근 30일 간 육체적으로 며칠 아팠습니까?<br>
    <input type="text" name="PH"><br>
    계단을 오르기 힘드십니까?<select name="DW">
    <option value="yes">예</option>
    <option value="no">아니오</option>
    </select><br>
    뇌졸증 진단을 받은 적이 있습니까?<select name="stroke">
    <option value="1">예</option>
    <option value="0">아니오</option>
    </select><br>
    고혈압이십니까?<select name="HBP">
    <option value="1">예</option>
    <option value="0">아니오</option>
    </select><br>
    <input type="submit" value="확인">
</form>
</body>
</html>