<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #Header{
            width:auto;
            border:1px solid #cccccc;
            font-size:2em;
            font-weight:bold;
            text-align:center
        }
        #information{
            border:1px solid #cccccc;
            height:1000px;
            padding-left: 30px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
      </style>
</head>
<body>
<h1 style="text-align:center;">건강검진</h1>
<li style="text-align:center; font-size: 1.2em; font-weight: bold">
    연령대별 필요한 건강검진
</li>
<table style="text-align:center;border-collapse: collapse; width: 550px;
    margin-left:auto; margin-right:auto;" border="2px">
    <tr style="font-size: 15pt;">
        <th>연령대</th>
        <th>건강검진 항목</th>
    </tr>
    <tr>
        <td>20대</td>
        <td>
          기본적인 검사로 충분<br>
          여성의 경우에는 자궁경부암 검사 추가
        </td>
    </tr>
    <tr>
        <td>30대</td>
        <td>
          갑상선암 검사 필수<br>
          여성의 경우에는 유방암 검사 추가
        </td>
    </tr>
    <tr>
        <td>40대</td>
        <td>
          5대 암(위암, 대장암, 유방암, 자궁경부암, 간암) 검사 필수
        </td>
    </tr>
    <tr>
        <td>50대</td>
        <td>
          대장암, 심혈관 검사 필수<br>
          흡연자의 경우 폐암 검사 추가<br>
          남성의 경우 전립선암 검사 추가
        </td>
    </tr>
    <tr>
        <td>60대 이상</td>
        <td>
          각종 질환 검사 필수<br>
          노인성 질환(뇌졸중, 치매, 파킨슨병, 심혈관 질환 등) 검사 필수
        </td>
    </tr>
    <tr>
      <td colspan="2">
        <a href="https://www.nhis.or.kr/nhis/policy/wbhada19700m01.do">자세히 알아보기</a>
      </td>
    </tr>
</table>
<br>
<br>
<h1 style="text-align:center;">
  <a href="https://www.nhis.or.kr/nhis/healthin/retrieveExmdAdminVltInfo.do">검진기관/병원찾기</a>
</h1>
<h1 style="text-align:center;"><a href="/" >🏡</a></h1>
</body>
</html>