<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1 {
            text-align: center;
        }
        table {
            text-align: center;
            border-collapse: collapse;
            margin: auto;
            border: 2px solid;
        }
        tr {
            font-size: 15pt;
        }
        th, td {
            padding: 15px;
            border: 1px solid;
        }
        td {
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>표준예방접종표</h1>
    <table>
        <tr>
            <th>나이/조건</th>
            <th>예방접종종류</th>
            <th>참고사항</th>
        </tr>
        <tr>
            <td rowspan="2">19~39세</td>
            <td>A형간염</td>
            <td>2회 접종 (0, 6 ~ 12개월)</td>
        </tr>
        <tr>
            <td>B형간염</td>
            <td>항체검사결과가 음성이면 3회 접종 (0, 1, 6개월)</td>
        </tr>
        <tr>
            <td>40~49세</td>
            <td>파상풍-디프테리아 (Td백신)</td>
            <td>10년마다 1회 접종, 처음 접종이면 3회 접종 (0, 1, 6 ~ 12개월)</td>
        </tr>
        <tr>
            <td>50~64세</td>
            <td>인플루엔자</td>
            <td>매년 10 ~ 11월에 1회</td>
        </tr>
        <tr>
            <td>65세 이상</td>
            <td>폐렴사슬알균</td>
            <td>1회</td>
        </tr>
    </table>
    <h1 style="text-align:center;"><a href="/" >🏡</a></h1>
</body>
</html>