<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<h2>질병 예측</h2>
<form method="post" action="stroke_result">
성별:
<select name="SEX">
<option value="1">남자</option>
<option value="0">여자</option>
</select><br>
AGE   : <input type="text" name="AGE"><br>
HYPERTENSION:
<select name="HYPERTENSION">
<option value="1">YES</option>
<option value="0">NO</option>
</select><br>
HEART_DISEASE  :
<select name="HEART_DISEASE">
<option value="1">YES</option>
<option value="0">NO</option>
</select><br>
WORK_TYPE:
<select name="WORK_TYPE">
<option value="0">무직</option>
<option value="1">알바</option>
<option value="2">공무직</option>
<option value="3">직장인</option>
<option value="4">자영업</option>
</select><br>
RESIDENCE_TYPE   :
<select name="RESIDENCE_TYPE">
<option value="1">도시</option>
<option value="0">시골</option>
</select><br>
AVG_GLUCOSE_LEVEL   : <input type="text" name="AVG_GLUCOSE_LEVEL"><br>
BMI  : <input type="text" name="BMI"><br>
SMOKING_STATUS    :
<select name="SMOKING_STATUS">
<option value="1">YES</option>
<option value="0">NO</option>
</select><br>
<input type="submit" value="확인">
</form>
</body>
</html>