<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>고혈압 진단 예측</h2>
<form method="post" action="hypertension_result">
    나이: <input type="text" name="age"><br>
    휴식기 혈압: <input type="text" name="trestbps"><br>
    최대 심박수: <input type="text" name="thalach"><br>
    휴식 대비 운동으로 인한 ST하강: <input type="text" name="oldpeak"><br>
    성별:
    <select name="sex">
        <option value="male">남성</option>
        <option value="female">여성</option>
    </select><br>
    흉통:
    <select name="cp">
        <option value="N">흉통 없음</option>
        <option value="Y">흉통 있음</option>
    </select><br>
    공복혈당: <input type="text" name="fbs"><br>
    휴식 중 심전도 결과:
    <select name="ecg">
        <option value="N">이상 없음</option>
        <option value="Y">이상 있음</option>
    </select><br>
    운동으로 인한 협심증 여부:
    <select name="exang">
        <option value="N">협심증 없음</option>
        <option value="Y">협심증 있음</option>
    </select><br>
    활동 ST분절 피크의 기울기:
    <select name="slope">
        <option value="N">변화 없음</option>
        <option value="Y">변화 있음</option>
    </select><br>
    형광투시법으로 확인된 주요 혈관 유무:
    <select name="ca">
        <option value="N">발견된 혈관 없음</option>
        <option value="Y">발견된 혈관 있음</option>
    </select>
    <input type="submit" value="확인">
</form>
</body>
</html>
