<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #Wrap{width:100%; overflow:hidden; margin:0 auto; padding-top: 50px}
    </style>
</head>
<body >
<div id="Wrap">
    <h1 style="text-align: center">건강 관리 정보</h1>
    <table style="border-collapse: collapse;
                  margin-left:auto; margin-right:auto;
                  width: 1200px; "
                  border="2px">
          <tr style="font-size: 15pt; padding: 15px;text-align:center; ">
            <th style="padding: 15px;">병명</th>
            <th>추천 음식</th>
            <th>주의 사항</th>
            <th>자세히 보기</th>
          </tr>
          <tr>
            <td style="padding: 15px;text-align:center;">당뇨병</td>
            <td>
                <li>우엉</li>
                <li>콩</li>
                <li>해조류(미역, 다시마, 해초 등)</li>
                <li>브로콜리</li></td>
            <td>
                <li>규칙적인 식습관 필요</li>
                <li>단순당 섭취시 주의 요함</li>
                <li>염분 섭취 주의 요함</li>
                <li>동물성 기름을 식물성 기름으로 대체</li>
            </td>
            <td><a href="https://health.kdca.go.kr/healthinfo/biz/health/gnrlzHealthInfo/gnrlzHealthInfo/gnrlzHealthInfoView.do?cntnts_sn=5305"
                   onclick="window.open(this.href, '_blank', 'width=1000, height=1000');return false;">당뇨병 자세히 보기</a></td>
          </tr>
          <tr>
            <td style="padding: 15px;text-align:center;">뇌졸중</td>
            <td>
                <li>콩제품(두부, 비지, 유부 등)</li>
                <li>어패류(멸치, 새우살, 조개 등)</li>
                <li>해조류(미역, 다시마, 해초 등)</li>
                <li>속 하얀 과일(사과, 배 등)</li></td>
            <td>
                <li>규칙적인 식습관 필요</li>
                <li>염분 섭취 주의 요함</li>
                <li>단백질 섭취 필요</li>
                <li>동물성 기름을 식물성 기름으로 대체</li>
            </td>
            <td><a href="https://health.kdca.go.kr/healthinfo/biz/health/ccvdInfo/ccvcdInfo/cbvcacdInfoMain.do"
                   onclick="window.open(this.href, '_blank', 'width=1000, height=1000');return false;">뇌졸중 자세히 보기</a></td>
          </tr>
          <tr>
            <td style="padding: 15px;text-align:center;">고혈압</td>
            <td>
                <li>연어</li>
                <li>근대</li>
                <li>콩과 렌틸콩</li>
                <li>당근</li>
                <li>샐러리</li>
                <li>브로콜리</li></td>
            <td>
                <li>금연 필수적으로 요함</li>
                <li>절주 요함</li>
                <li>스트레스 예방 필요</li>
            </td>
            <td><a href="https://health.kdca.go.kr/healthinfo/biz/health/gnrlzHealthInfo/gnrlzHealthInfo/gnrlzHealthInfoView.do?cntnts_sn=5300"
                   onclick="window.open(this.href, '_blank', 'width=1000, height=1000');return false;">고혈압 자세히 보기</a></td>
          </tr>
               <tr>
            <td style="padding: 15px;text-align:center;">심장마비</td>
            <td>
                <li>마늘</li>
                <li>고등어, 참치, 연어</li>
                <li>견과류</li>
                <li>유제품</li>
                <li>아로니아</li>
                <li>튀기지 않은 감자</li></td>
            <td>
                <li>금연 요함</li>
                <li>절주 요함</li>
                <li>적정한 체중 유지 필요</li>
                <li>꾸준한 건강한 식사 습관 필요</li>
            </td>
            <td><a href="https://health.kdca.go.kr/healthinfo/biz/health/gnrlzHealthInfo/gnrlzHealthInfo/gnrlzHealthInfoView.do?cntnts_sn=5438"
                   onclick="window.open(this.href, '_blank', 'width=1000, height=1000');return false;">심장마비 자세히 보기</a></td>
          </tr>
    </table>
    <br><br>
    <h1 style="text-align:center;"><a href="/" >🏡</a></h1>
</div>
</body>
</html>